<section id="material">
    <div class="title_sec_material_especifico">
        <h1>Materiales-Phifertex®</h1>
    </div>

    <div id="columna">
    <div class="material_imagen">
    <div id="container">    
    <img src="https://i.ibb.co/dg4vVRh/phifertex.jpg" alt="phifertex" width=100%>
    </div>
    </div>
    <div class="material_texto">
        <span> Lona Phifertex®</span>
    <br>
    
        <h2>Características</h2>
        <p>Phifertex® es un tejido microperforado. Está elaborado con hilado de poliéster revestido de PVC, bajo las normas de calidad ISO 9001:2000.</p>
        <ul>
          <li><p>Es un material diseñado para la intemperie y para resistir los diferentes cambios climáticos.</p></li>
          <li><p>El alto grado de resistencia del tejido, permite que la tela no sufra deformación alguna.</p></li>
          <li><p>El calado del tejido posibilita el paso del aire evitando el calentamiento con el sol y permite el drenaje del agua.</p></li>
        </ul>
        <p>Esta tela es utilizada en los siguientes dos muebles:</p>
        <a [routerLink]="'../../productos/Reposeras/35'"><p>Reposera Formentera / Phifertex®</p></a>
        <a [routerLink]="'../../productos/Reposeras/35'"><p>Reposera Modena / Phifertex®</p></a>
        <blockquote><p>“Los colores son super duraderos y resistentes a la exposición del sol y el moho.”</p></blockquote>
        <strong>Limpieza</strong>
        <p>La tela Phifertex® es de fácil mantenimiento y limpieza:</p>
        <p>1.    Moje la tela con agua.</p>
        <p>2.    Utilice un cepillo suave para limpiar.</p>
        <p>3.    Vuelva a mojar la tela con agua para quitar la suciedad.</p>
    </div>
    <div id="slider_telas">

    <h2>Aqui podemos ver las diferentes tonalidades de tela que nos ofrece Phifertex®</h2>
    <div id="carouselExampleIndicators" class="carousel carousel-white slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button></div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/phifertex/plus-metallica-platinum-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Metallica Platinum</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-metallica-salsa-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Metallica Salsa</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-metallica-white-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Metallica white</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-arena-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Arena</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-blanco-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Blanco</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-burlap-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Burlap</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-negro-web-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Negro</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/phifertex/plus-smoke-199x300.png" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Plus Smoke</p>
            </div>
          
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div> 
      </div>

</section>
