<section id="cat_sec">
    <div class="cat_row">
        <div class="cat_prod_1">
            <a [routerLink]="['productos/Sillones']">
            <button>Sillones</button></a>
        </div>
        <div class="cat_prod_2">
            <a [routerLink]="['productos/Pergolas']">
            <button>Pergolas</button></a>
        </div>
        <div class="cat_prod_3">
            <a [routerLink]="['productos/Mesas']">
            <button>Mesas</button></a>
        </div>
        <div class="cat_prod_4">
            <a [routerLink]="['productos/Reposeras']">
            <button>Reposeras</button></a>
        </div>
        <div class="cat_prod_5">
            <a [routerLink]="['productos/Hamacas']">
            <button>Hamacas</button></a>
        </div>
        <div class="cat_prod_6">
            <a [routerLink]="['productos/Camastros']">
            <button>Camastros</button></a>
        </div>
    </div>
</section>
