@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
/* You can add global styles to this file, and also import other style files */
/*configuraciones estandar*/

body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*fuentes*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}
/*clearfix*/
.clearfix{
    clear: both;
    float: none;
}
/*estilo del footer*/
.footer_grid{
    position:static;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr fit-content;
    grid-gap: 30px;
    background-color: #4e5e7c;
    color: rgb(183, 200, 240);
    text-align: center;
}
@media all and (min-width: 800px){
    .footer_grid{
        position:static;
        display: grid;
        height: fit-content;
        text-align: left;
        grid-template-columns: 1fr 40% 1fr;
        grid-template-rows: repeat(2,fit-content);
        grid-gap: 30px;
        background-color: #4e5e7c;
        color: rgb(183, 200, 240);
        
    }
    .copyright{
        color: #000;
        background-color: #5374b8a3;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .description p{
        width: 70%;
        font-size: 15px;
        margin-top: 10px;
        color: #fff;
    }
}
.footer_grid a{
    text-decoration: none;
}
.description img{
    margin-bottom: 10px;
}
.description p{
    font-size: 15px;
    margin-top: 10px;
    color: #fff;
}
.links p{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.copyright{
    color: #000;
    background-color: #5374b8a3;
    text-align: center;
}
.copyright h5{
    font-size: 12px;
    color: rgb(183, 200, 240);
}
.contact_footer p{
    color: #000;
    margin-top: 5px;
    font-size: 20px;
}
/*boton de whatsapp*/
.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
/*slider principal*/
a{
    text-decoration: none;
}
.presentation_row{
    position: relative;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, fit-content);   
    margin-bottom: 0;
}
.presentation_slider a{
    color: aliceblue;
    width: 10px;
    background-color: #2c4473;
    text-decoration: none;
    font-size: 22px;
}
.presentation_slider a:hover{
  transition: all 300ms;
    background-color: gold ;
    color: white;
    width: 10px;
    text-decoration: none;
    font-size: 22px;
}

:root {
  --color1: rgb(226, 231, 251);
  --color2: rgb(12, 12, 12);
  --color3: rgb(44, 68, 115);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}


body .container_presentation {
  width: 100%;
  height: 800px;
  min-width: 360px;
  min-height: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


@media all and (min-width: 480px) and (max-width: 740px) and (orientation: landscape) {
  body .container_presentation {
    min-height: 320px;
  }
}

body .container_presentation .slider_presentation {
  position: relative;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color2);
  opacity: 0;
  -webkit-animation: fadeIn 2000ms ease-in-out 1500ms forwards;
          animation: fadeIn 2000ms ease-in-out 1500ms forwards;
}

@media all and (max-width: 740px) {
  body .container_presentation .slider_presentation {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
  }
}

@media all and (min-width: 741px) and (max-width: 999px) {
  body .container_presentation .slider_presentation {
    width: 95%;
    height: 85%;
  }
}

@media all and (min-width: 1000px) {
  body .container_presentation .slider_presentation {
    width: 100%;
    height: 100%;
  }
}

body .container_presentation .slider_presentation .selectors {
  display: none;
}

body .container_presentation .slider_presentation .slides {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in;
}

@media all and (max-width: 740px) {
  body .container_presentation .slider_presentation .slides {
    border-radius: 0;
  }
}

body .container_presentation .slider_presentation .slides .content {
  background-color: rgba(12, 12, 12, 0.2);
  width: 85%;
  margin: auto;
  padding: 1.25rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 15px;
  color: var(--color1);
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  opacity: 0;
  -webkit-transition: all 600ms ease-out 1000ms;
  transition: all 600ms ease-out 1000ms;
}

@media all and (min-width: 1000px) {
  body .container_presentation .slider_presentation .slides .content {
    padding: 1.5rem 1rem;
  }
}

body .container_presentation .slider_presentation .slides .content h1 {
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-shadow: 4px 4px 3px var(--color2);
}

body .container_presentation .slider_presentation .slides .content h2 {
  font-weight: 600;
  margin-bottom: 0.75rem;
  border-bottom: 3px var(--color3) solid;
  border-radius: 0 0 5px 5px;
}

body .container_presentation .slider_presentation .slides .content p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

body .container_presentation .slider_presentation .slides .content .btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  background-color: var(--color3);
  color: var(--color2);
  font-weight: 700;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

body .container_presentation .slider_presentation .slides .content .btns:hover {
  background-color: black;
  color: var(--color1);
}

body .container_presentation .slider_presentation .slides .content .btns:active {
  margin-bottom: -7px;
  margin-top: 7px;
}

body .container_presentation .slider_presentation .slides .prev,
body .container_presentation .slider_presentation .slides .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  -webkit-box-shadow: -3px 3px var(--color1);
          box-shadow: -3px 3px var(--color1);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  z-index: 10;
}

@media all and (max-width: 740px) {
  body .container_presentation .slider_presentation .slides .prev,
  body .container_presentation .slider_presentation .slides .next {
    width: 24px;
    height: 24px;
  }
}

@media all and (min-width: 741px) and (max-width: 999px) {
  body .container_presentation .slider_presentation .slides .prev,
  body .container_presentation .slider_presentation .slides .next {
    width: 28px;
    height: 28px;
  }
}

body .container_presentation .slider_presentation .slides .prev {
  left: 3%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .container_presentation .slider_presentation .slides .next {
  right: 3%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

body .container_presentation .slider_presentation .slides .prev:active,
body .container_presentation .slider_presentation .slides .next:active {
  -webkit-box-shadow: -3px 3px var(--color3);
          box-shadow: -3px 3px var(--color3);
}

body .container_presentation .slider_presentation .slide1 {
  background: center no-repeat url("https://i.ibb.co/PwgYmvL/15-1.jpg");
  background-size: cover;
}
body .container_presentation .slider_presentation .slide2 {
  background: bottom no-repeat url("https://i.ibb.co/Bw1YbM1/10-1.jpg");
  background-size: cover;
}

body .container_presentation .slider_presentation .slide3 {
  background: center no-repeat url("https://i.ibb.co/zX3tDp3/17-1.jpg");
  background-size: cover;
}

body .container_presentation .slider_presentation .slide4 {
  background: center no-repeat url("https://i.ibb.co/DDpVwv3/13-1.jpg|");
  background-size: cover;
}

body .container_presentation .slider_presentation .slide5 {
  background: bottom no-repeat url("https://i.ibb.co/CBfwNN8/16-1.jpg");
  background-size: cover;
}

body .container_presentation .slider_presentation .nav {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

@media all and (max-width: 740px) {
  body .container_presentation .slider_presentation .nav {
    bottom: 9%;
  }
}

@media all and (min-width: 480px) and (max-width: 740px) and (orientation: landscape) {
  body .container_presentation .slider_presentation .nav {
    bottom: 3%;
  }
}

body .container_presentation .slider_presentation .nav .dots {
  display: block;
  width: 25px;
  height: 12px;
  background-color: var(--color3);
  border-radius: 10px;
  margin: 0 5px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

body .container_presentation .slider_presentation .selectors:checked + .slides {
  z-index: 5;
  opacity: 1;
}

body .container_presentation .slider_presentation .selectors:checked + .slides .content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

body .container_presentation .slider_presentation #sl1:checked ~ .nav .dot1,
body .container_presentation .slider_presentation #sl2:checked ~ .nav .dot2,
body .container_presentation .slider_presentation #sl3:checked ~ .nav .dot3,
body .container_presentation .slider_presentation #sl4:checked ~ .nav .dot4,
body .container_presentation .slider_presentation #sl5:checked ~ .nav .dot5 {
  -webkit-box-shadow: 0px 0px 10px 3px var(--color3);
          box-shadow: 0px 0px 10px 3px var(--color3);
}

@-webkit-keyframes fadeIn {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-color: silver;
  }
}

@keyframes fadeIn {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-color: silver;
  }
}

/*slider de colecciones*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
  }
  .card-img-overlay a{
    width: 100px;
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
    .card-img-overlay a{
      width: 100px;
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
  transform: translateX(0);
  }
  body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.presentation_row{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, fit-content);   
    margin-bottom: 0;
}
.presentation_slider p{
    color: aliceblue;
    width: auto;
    background-color: #2c4473;
    text-decoration: none;
    font-size: 1em;
    transition: all 1500ms;
}
.presentation_slider p:hover{
    background-color: gold ;
    color: white;
    width: auto;
    text-decoration: none;
    font-size: 1em;
}
/*Titulo*/

.title_row{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #fff;
    border-top: solid #2c4473 2px;
    border-bottom: solid #395894 1px;
    padding: 30px;

}


h2 {
  font-size: 1,5em;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: auto;
  opacity: 0;
  margin-left: 5px;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rdBlue {
  color: #2c4473;
}

.gold {
  color: gold;
}

.gray {
  color: #d3d3d3;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/*categorias sectin*/
#cat_sec{
    position: relative;
    width: 100%;
    height: auto;
    border-top: solid;
    border-bottom: solid;
    border-color: #2c4473;
    border-width: 1px;
}
.cat_row{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}
@media screen and (max-width: 767px){
    .cat_row{
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .title_row{
      min-height: 150px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 0px;
      
    }
    h2 {
      font-size: 1,5em;
      display: flex;
      vertical-align: top;
      margin: 0;
    }
}

.cat_prod_1 {
  background-image: url("https://i.ibb.co/qDxRfPb/sillones-principal-menu.jpg");  
  width: 1fr;
  background-size: cover;
  transition: 0.7s;
  background-position: 0%;
  height: 450px;
  align-items: start;
  display: flex;
}

.cat_prod_2 {
  background-image: url("https://i.ibb.co/tKKSgxP/9-8-1.jpg");  
  width: 1fr;
  background-size: cover;
  background-position: 0%;
  height: 450px;
  align-items: start;
  display: flex;
}
.cat_prod_3 {
    background-image: url("https://i.ibb.co/smQHyLd/Mesas-principal-menu.jpg");
    width: 1fr;
    background-position: 0%;
    background-size: cover;
  height: 450px;
  align-items: start;
  display: flex;
}
.cat_prod_4 {
    background-image: url("https://i.ibb.co/3NzGwQR/2-9-1.jpg");
    background-size: cover;
    background-position: 0%;
    width: 1fr;
  height: 450px;
  align-items: start;
  display: flex;
}
.cat_prod_5 {
    background-image: url("https://i.ibb.co/qj61XsH/9-7-1.jpg");
    background-size: cover;
    background-position: 0%;
    width: 1fr;
  height: 450px;
  align-items: start;
  display: flex;
}
.cat_prod_6 {
    background-image: url("https://i.ibb.co/tLvR4GX/9-1-1.jpg");
    background-size: cover;
    background-position: 0%;
    width: 1fr;
  height: 450px;
  align-items: start; 
  display: flex;
}
.cat_row button{
    margin-left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    z-index: 20;
    width: 150px;
    height: 50px;
    box-shadow: none;
    border-style: none;
    background-color: #2c4473;
    color: aliceblue;
    font-size:20px;
    transition: all 300ms;
}
.cat_row button:hover{
    background-color: gold ;
    color: white;
}
/*prestaciones*/    
#pres_sec{
    position: relative;
    width: 100%;
    height: auto;
    border-top: solid;
    border-bottom: solid;
    border-color: #2c4473;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.prestations{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
}
@media screen and (max-width: 768px){
    .prestations{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .cat_row button{
        margin-top: 0%;
    margin-left: 30%;
    }
}
/*prestaciones*/
.prestations h5{
    font-size: 1em;
    color: gray
}
.prestations p{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prest_col{
    width: 1fr;
    min-height: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
}
/*menu*/
#menu{
  position: relative;
    display: flex;
    padding-bottom: 30px;
    margin-top: 30px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #2c4473;
    height: max-content;
    width: 100%;
}
.menu_grid{
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 1040px){
  .menu_grid{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (max-width: 768px){
  .menu_grid{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
  }
}
.menu_item{
  width: 1fr;
  min-height: 500px;
}
.menu_item_images{
  position: relative;
  display: flex;
  justify-content: center;
}
.menu_item_imagen1{
  position: absolute;
  height: 350px;
  min-height: 300px;
  max-height: 400px;
  width: 350px;
  min-width: 300px;
  max-width: 400px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s;
}
.menu_item_imagen2{
  position: absolute;
  z-index: 10;
  opacity: 1;
  height: 350px;
  min-height: 300px;
  max-height: 400px;
  width: 350px;
  min-width: 300px;
  max-width: 400px; 
}
.menu_item_imagen1:hover{
  opacity: 0;
}
.menu_item_text{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 400px;
  font-family: serif;
  font-size: 20px;
  color:#395894
}

.menu_item_text a{
  color: #395894;
  text-decoration: none;
}
.menu_item_text a:hover{
  color: #a5a5a5;
  text-decoration: dashed;
  border-bottom: 1px;
  border-color: gold;
}
.menu_item_text b{
  margin: 5px;
  height: fit-content;
  font-size: 12px;
  color: #8b8b8b;
  width: max-content;
}
#Error{
  width: 100%;
  min-height: 400px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-top: 1px #2c4473 solid;
  border-bottom: 1px #2c4473 solid;
}
.error404Title{
  font-family: serif;
  font-size:3em;
  color: #395894;
  margin: 40px;
}
.error404Subtitle{
  font-family: serif;
  font-size: 2em;
  color: #2c4473;
  margin: 40px;
}
.errorBtn{
  height: 80px;
  width: 200px;
  color: #d3d3d3;
  background-color: #2c4473;
  box-shadow: none;
  border: gold;
  margin: 40px; 
  transition: all 500ms;
}
.errorBtn:hover{
  height: 80px;
  width: 200px;
  color: gold;
  background-color: #8b8b8b;
  box-shadow: none;
  border: gold;
  margin: 40px; 
}
/*promocion slider*/
.promocion_slider p{
  color: aliceblue;
  width: auto;
  background-color: #2c4473;
  text-decoration: none;
  font-size: 1em;
  transition: all 1500ms;
}
.promocion_slider p:hover{
  background-color: gold ;
  color: white;
  width: auto;
  text-decoration: none;
  font-size: 1em;
}
.mueble_content{
  width: 100%;
  border-top: solid 2px #395894;
  border-bottom: solid 1px #2c3e50;
  min-height: max-content;
  max-height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 30px;
}
@media screen and (max-width: 768px){
  .mueble_content{
    width: 100%;
    min-height: max-content;
    max-height: 1000px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    
  }
  .long_medida{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
  }
}
.mueble_content h2{
  margin-top: 30px;
  font-size: 1.1em;
  color: #4e5e7c;
}
@media screen and (min-width: 768px){
.long_medida{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1em;
}
}
.promocion_slider{
  width: 100%;
  position: relative;
  text-align: center;
}
.promocion_title{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 2em;
  border-bottom: solid 1px #395894;
  color: #4e4e4e;
}
.contact{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-top: #395894 2px solid;
  border-bottom: #2c4473 1px solid;
}
.contact_grid{
  width: 100%;
  min-height: max-content;
  max-height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1, 1fr;
}
@media screen and (max-width: 768px){
  .contact_grid{
    width: 100%;
    min-height: max-content;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}
.contact_form{
  padding: 20px;
  border: #395894 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact_form p{
  display: block;
  color: #395894;
}
.contact_form_textarea{
  resize: none;

}
.contact_form input,textarea{
  width: 100%;
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid #4e4e4e;
}
.contact_form_btn{
  align-self: center;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  padding: auto;
  box-shadow: none;
  border:#395894 1px solid !important;
  background: gold;
  color: #4e4e4e;
  transition: all 1000ms;
}
.contact_form_btn:hover{
  border:gold 1px solid;
  background: #a5a5a5;
  color: #000;
}
.contact_h2{
  margin-top: 30px;
  margin-left: 25%;
  margin-bottom: 30px;
  font-size: 2em;
  align-self: center;
  color: #4e5e7c; 
}
.contact_buttons{
  padding: 20px;
  border: #395894 1px solid; 
}

.contact_buttons_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
@media screen and (max-width: 768px){
  .contact_buttons_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .contact_buttons a{
    text-decoration: none;
    color: #4e5e7c;
    font-size: 1em;
    transition: all 1000ms;
    margin-left: 35%;
  }
}

.contact_buttons_btn{
  box-shadow: none;
  margin-left: 25%;
  border: none;
}
.contact_buttons a{
  text-decoration: none;
  color: #4e5e7c;
  font-size: 1em;
  transition: all 1000ms;
}
.contact_buttons a:hover{
  color: #8b8b8b;
  text-decoration: dashed 1px gold;
}
.contact_h3{
  font-size: 2em;
  color: #395894;
  margin-bottom: 50px;
}
/*menu de materiales*/
#title_sec{
  font-size: 28px;
  height: auto;
  width: 100%;
  text-align: center;
  display: flexbox;
  position: relative;
  flex:1;
  margin-top: 30px;
  border-top: solid;
  border-bottom: solid;
  border-color: #2c4473;
  border-width: 2px;
  margin-bottom: 30px;
}
#material{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex: 1;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
#materiales{
  border-top: solid;
  border-bottom: solid;
  border-color: #2c4473;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}
#imagen_material{
  width: 450px;
  height: 300px;
  display: flex;
  position: relative;
  margin: 30px;
}
#titulo_material{
  margin: 20px;
  width: 100%;
  height: fit-content;
  display: block;
  flex: 2;
  position: relative;
  float: left;
  font-family: sans-serif;
  text-decoration: none;
  flex-wrap: wrap;
  flex-direction: column;
}
#titulo_material span{
  font-size: 1em;
  color: #808080;
}
#titulo_material h2{
  font-size: 20px;
  display: block;
  color: black;
}
#titulo_material a{
  text-decoration: none;
}
#descripcion_material{
  margin: 20px;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex: 2;
  position: relative;
  float: left;    
  font-family: sans-serif;
  text-decoration: none;
  flex-wrap: wrap;
  flex-direction: column;
}
#descripcion_material p{
  font-size: 1em;
  color: #808080;
}
#descripcion_material a{
  font-size: 1em;
  font-family: montserrat;
  margin: 20px;
  margin-left: 0;
  text-decoration: none;
  border: solid;
  border-color: #808080;
  border-width: 1px;
  color: black;
  padding: 20px;
  transition: all 2000ms;
  width: fit-content;
}
#descripcion_material a:hover{
  background-color: gold;
  color: white;

}
/*materiales especificos*/
#material{
  border-color: #2c4473 solid 1px;
  height: auto;
  width: 100%;
}  
#columna{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.title_sec_material_especifico{
  font-size: 28px;
  height: auto;
  width: 100%;
  text-align: center;
  position: relative;
  border-bottom: solid 1px #2c4473;
  margin-bottom: 30px;
}
.material_imagen{
  margin-bottom: 30px;
}
.material_imagen img{
  height: 600px;
}
@media screen and (max-width: 768px){
  .material_imagen img{
    height: 300px;
  }
}
.material_texto{
  padding-left: 30px;
}
#material_texto strong{
  font-size: 1em;
  color: #000;
}
#material_texto a{
  text-decoration: none;
}
#material_texto span{
  font-size: 1em;
  color: #000;
}
#material_texto p{
  font-size: 1em;
  color: #000;
  text-decoration: none;
}
#material_texto ul{
  font-size: 1em;
  color: #000;
}
#material_texto li{
  font-size: 1em;
  color: #000;

}
#material_texto h2{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8080;
}

#material_texto blockquote{
  border:solid;
  border-width: 1px;
  border-color: #2c4473;
  padding: 20px;
  text-align: center;
  margin: 30px;
  font-size: 23px ;
  color: #4e5e7c;
  font-style:italic;
}


#slider_telas{
  margin:50px;
  height: 500px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#slider_telas h2{
  font-size: 18px;
  width: auto;
  height: min-content;
  margin: 30px;

}
#slider_telas .carousel, .carousel-inner > .item > img {
  object-fit: scale-down;
height: 300px;
width: 199px;
}

