<section id="principal">
    <section id="titulo">
    <div id="title_sec">
    <h1>Materiales</h1>
    </div>
    </section>
     <section id="materiales">
     
     <div id="material">
        <div id="imagen_material">
        <img src="https://i.ibb.co/0BQz04F/aluminio.jpg" height="80%" width="100%" alt="muebles de aluminio">
        </div>
        <div id="titulo_material">
        <a [routerLink]="'Aluminio'"><span>Aluminio</span></a>
        <a [routerLink]="'Aluminio'"><h2>Características</h2></a>
        <div id="descripcion_material">
        <p>Entre sus atributos principales se destacan la alta durabilidad, la resistencia a los agentes externos y una ligereza que facilita su movilidad y transporte. El aluminio resiste la sobreexposición al sol, el contacto con la humedad y los golpes. Los muebles de aluminio se caracterizan por una gran durabilidad. No deja pasar el agua por lo tanto los muebles de este material no se oxidan. El aluminio que utilizamos es anodizado. Este tratamiento es un proceso que modifica su superficie y proporciona una mayor protección.</p>
        <a [routerLink]="'Aluminio'">Desea saber más?</a>
        </div>
        </div>
     </div>
     <div id="material">
        <div id="imagen_material">
        <img src="https://i.ibb.co/tzPnxKp/sunbrella.jpg" height="80%" width="100%" alt="sunbrella">
        </div>
        <div id="titulo_material">
        <a [routerLink]="'Sunbrella'"><span>Lonas Sunbrella</span></a>
        <a [routerLink]="'Sunbrella'"><h2>Características</h2></a>
        <div id="descripcion_material">
        <p>Las fibras de la tela Sunbrella® son saturadas hasta el centro con pigmentos altamente estables a los rayos ultravioleta, haciendo que las telas Sunbrella® sean resistentes al deslavado y a los efectos degradantes de la luz solar. Las telas Sunbrella® mantienen su color vibrante incluso con la exposición constante y severa al sol. Todas las telas Sunbrella® son impermeables y están diseñadas para resistir al moho.</p>
        <a [routerLink]="'Sunbrella'">Desea saber más?</a>
        </div>
        </div>
     </div>
     <div id="material">
        <div id="imagen_material">
        <img src="https://i.ibb.co/dg4vVRh/phifertex.jpg" height="80%" width="100%" alt="phifertex">
        </div>
        <div id="titulo_material">
        <a [routerLink]="'Phifertex'"><span>Lonas Phifertex</span></a>
        <a [routerLink]="'Phifertex'"><h2>Características</h2></a>
        <div id="descripcion_material">
        <p>Phifertex® es un tejido microperforado. Está elaborado con hilado de poliéster revestido de PVC, bajo las normas de calidad ISO 9001:2000. Es un material diseñado para la intemperie y para resistir los diferentes cambios climáticos. El alto grado de resistencia del tejido, permite que la tela no sufra deformación alguna. El calado del tejido posibilita el paso del aire evitando el calentamiento con el sol y permite el drenaje del agua.</p>
        <a [routerLink]="'Phifertex'">Desea saber más?</a>
        </div>
        </div>
     </div>
    </section>
    </section>