<section class="contact">
    <h2 class="contact_h2">Contactate con nosotros para más informacion</h2>
    <div class="contact_grid">
        <div class="contact_form">
           <form (ngSubmit)="contactForm(form.value)" #form="ngForm">

                <p>Mueble de interes: <input #asunto type="text" name="asunto" id="asunto" value="" [ngModel]="Mueble.nombre" readonly ></p>
                <p>Nombre: <input #nombre type="text" name="nombre" id="nombre" value=""  ngModel required></p>
                <p>Apellido: <input #apellido type="text" name="apellido" id="apellido" value=""  ngModel required></p>
                <p>Correo: <input #email type="email" name="email" id="email" value=""   ngModel required></p>
                <p>Telefono: <input #telefono type="tel" name="telefono" id="telefono" value=""   ngModel required></p>
                <p>Mensaje:</p>
                <textarea class="contact_form_textarea" #message name="message" id="message" cols="30" rows="10"  ngModel required></textarea>
                <tr></tr>
                <input class="contact_form_btn" type="submit" value="Enviar" name="send" id="send" data-dismiss="alert">


            </form>
             </div>


        <div class="contact_buttons">
            <h3 class="contact_h3">Contactanos en nuestras redes sociales</h3>
            <div class="contact_buttons_grid">
                    <a href="https://www.instagram.com/rivera.designs_/" target="_blank" rel="noopener noreferrer"><button class="contact_buttons_btn"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png" height="50" widht="50" alt=""></button><p>@rivera.designs_</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=5491124608091" target="_blank" rel="noopener noreferrer"><button class="contact_buttons_btn"><img src="../../../assets/images/logoWhatsapp.png" height="50" widht="50" alt=""></button><p>+54-11-2460-8091.</p></a>
                    <a href="mailto:inforiveradesigns@gmail.com?Subject=Deseo%20informacion%20sobre%20la empresa" target="_blank" rel="noopener noreferrer"><button class="contact_buttons_btn"><img src="../../../assets/images/logoEmail.jpeg" height="50" widht="50" alt=""></button><p>inforiveradesigns@gmail.com</p></a>
            </div>
        </div>
    </div>
</section>
