<section id="pres_sec">
    <div class="prestations">
        <div class="prest_col"> 
            <img src="https://i.ibb.co/ypd5CYM/envios.png" width="100" height="100" >
            <h5>Envíos</h5>
            <p>Hacemos envios en CABA, GBA, el resto del pais y paises limítrofes, consulte por la cotizacion del envio</p>
        </div>
        <div class="prest_col"> 
            <img src="https://i.ibb.co/n3x4YM6/atencion.png" width="100" height="100">
            <h5>Atencion</h5>
            <p>Estamos disponibles para atender a tus consultas via Instragram y correo electronico</p>
        </div>
        <div class="prest_col"> 
            <img src="https://i.ibb.co/Y87yYzK/beneficios.png" width="100" height="100">
            <h5>Beneficios</h5>
            <p>Descuentos para arquitectos, diseñadores y compras corporativas</p></div>
        <div class="prest_col"> 
            <img src="https://i.ibb.co/yF5xr4D/pagos.png" width="100" height="100">
            <h5>Formas de pago</h5>
            <p>Nos manejamos por tranferencias bancarias</p></div>
    </div>
</section>