<section id="material">
    <div id="columna">
    <div class="title_sec_material_especifico">
        <h1>Materiales-Sunbrella®</h1>
    </div>
    <div class="material_imagen">
    <div id="container">    
    <img src="https://i.ibb.co/tzPnxKp/sunbrella.jpg" alt="muebles-de-aluminio " width=100%>
    </div>
</div>



    <div id="material_texto">
        <a href=""><span> Lona Sunbrella®</span></a>
        <h2>Características</h2>
        <p>Las fibras de la tela sunbrella®  son saturadas hasta el centro con pigmentos altamente estables a los rayos ultravioleta, haciendo que las telas Sunbrella® sean resistentes al deslavado y a los efectos degradantes de la luz solar. </p>
        <ul>
          <li><p>Todas las telas Sunbrella® son impermeables y están diseñadas para resistir al moho.</p></li>
          <li><p>Las telas Sunbrella® mantienen su color vibrante incluso con la exposición constante y severa al sol. </p></li>
        </ul>
        <blockquote><p>“La tela sunbrella es la perfecta combinación de color y textura.”</p></blockquote>
        <strong>Limpieza</strong>
        <p>Todas las telas Sunbrella® se diseñan para combinar el más alto nivel de diseño y desempeño. Para un fácil mantenimiento del día a día de su tela Sunbrella®</p>
        <p>1.    Cepille para quitar toda la suciedad.</p>
        <p>2.    Prepare una solución limpiadora de agua y jabón suave.</p>
        <p>3.    Utilice un cepillo suave para limpiar.</p>
        <p>4.    Permita que la solución limpiadora empape la tela.</p>
        <p>5.    Enjuague muy bien hasta eliminar todos los residuos de jabón.</p>
        <p>6.    Deje secar al aire.</p>
    </div>

   <div id="slider_telas">

    <h2>Aqui podemos ver las diferentes tonalidades de tela que nos ofrece Sunbrella®</h2>
   <div id="carouselExampleIndicators" class="carousel carousel-white slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/sunbrella/00_noir-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Noir</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/01_acier-pique-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Acier pique</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/02_ardoise-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Ardoise</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/03_souris-chine-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Souris Chine</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/04_gris-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Gris</p>
            </div>
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/05_pierre-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Pierre</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/06_grege-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Grege</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/07_lin-chine-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Lin chine</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/08_dune-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>dune</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/09_toast-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Toast</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/10_bruyere-chine-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Bruyere</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/11_taupe-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Taupe</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/12_cacao-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Cacao</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/13_potiron-pique-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Potiron Pique</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/14_vermillon-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Vermillon</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/15_rouge-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Rouge</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/16_bordeaux-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Bordeaux</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/17_bleu-nuit-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Bleu Nuit</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/18_marine-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Marine</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/19_bleu-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Bleu</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/20_cassis-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Cassis</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/24_narval-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Narval</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/24_sky-blue-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Sky Blue</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/25_celestial-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Celestial</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/26_flax-212x300 (1).jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Flax</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/27_steel-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Steal</p>
            </div>
          
          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/sunbrella/28_graphite-212x300.jpg" class="d-block w-100" alt="..." hight="400" width="400">
            <div class="carousel-caption d-none d-md-block">
              <p>Graphite</p>
            </div>
          
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div> 
      
      <!--Video de sunbrella-->
      <div id="video">
        <!-- The script tag should live in the head of your page if at all possible -->
        <script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
      
        <!-- Put this wherever you would like your player to appear -->
        <img
          style="width: 100%; margin: auto; display: block;"
          class="vidyard-player-embed"
          src="https://play.vidyard.com/VhSbmkTzFM35qShLfpzyjw.jpg"
          data-uuid="VhSbmkTzFM35qShLfpzyjw"
          data-v="4"
          data-type="inline"
        />
      </div>
      
</div>
