<section id="material">
    <div id="columna">
    <div class="title_sec_material_especifico">
        <h1>Materiales-Aluminio</h1>
    </div>

    <div class="material_imagen">
    <img src="https://i.ibb.co/0BQz04F/aluminio.jpg" alt="muebles de aluminio" height=600px width=100%>
    </div>
    <div id="material_texto">
       <span>Aluminio</span>
        <h2>Características</h2>
        <p>Entre sus atributos principales se destacan la alta durabilidad, la resistencia a los agentes externos y una ligereza que facilita su movilidad y transporte. </p>
        <ul>
          <li><p>El aluminio resiste la sobreexposición al sol, el contacto con la humedad y los golpes.</p></li>
          <li><p>Este tratamiento es un proceso que modifica su superficie y proporciona una mayor protección.</p></li>
          <li><p>El aluminio que utilizamos es anodizado. </p></li>
          <li><p> No deja pasar el agua por lo tanto los muebles de este material no se oxidan. </p></li>
          <li><p>Los muebles de aluminio se caracterizan por una gran durabilidad.</p></li>
        </ul>
        <blockquote><p>“El aluminio es el material ideal para la fabricación de muebles para exterior. ”</p></blockquote>
        <strong>Limpieza</strong>
        <p>El aluminio es de fácil mantenimiento y limpieza:</p>
        <p>1.    Limpiar con un paño mojado con agua.</p>
        <p>2.    Remover el agua con un paño seco. </p>
        <p>3.    No usar productos abrasivos.</p>
    </div>
     
        
      </div>
</section>