<footer>
    <div class=footer_grid>
        <div class=description>
            <img src="assets/images/logoRD.jpg" alt="logo" height=100 width=100>
            <p>En Rivera Desings nos dedicamos a vender muebles de aluminio de alta calidad para exteriores e interiores, resistentes al agua, el oxido y con un estilo y diseño elegantes.</p>
          </div>
        <div class=links>
            <h3>Servicios</h3>
            <a [routerLink]="['productos']"><p>Productos</p></a>
            <a [routerLink]="['colecciones']"><p>Colecciones</p></a>
            <a href="#"><p>Materiales</p></a>
        </div>
        <div class=contact_footer>
            <h3>Contacto</h3>
            <img src="assets/images/logoInstagram.png" alt="instagram" width=30 height=30><a href="https://www.instagram.com/rivera.designs_/?utm_medium=copy_link"><p>Instagram: rivera.designs_</p></a>
            <img src="assets/images/logoEmail.jpeg" alt="email" width=30 height=30><a href="mailto:inforiveradesigns@gmail.com?Subject=Deseo%20informacion%20sobre%20la empresa"><p>inforiveradesigns@gmail.com</p></a>
            <img src="assets/images/logoWhatsapp.png" alt="whatsapp" width=30 height=30><a href="https://api.whatsapp.com/send/?phone=5491124608091"><p>+54-11-2460-8091</p></a>
          </div>
          <div class=copyright>
            <h3>© 2020 Copyright: Rivera Designs</h3>
            <h5>Desarrollo: HaizaraTech</h5>
          </div>
    </div>
  </footer>
